---
import GithubIcon from "./icons/github-icon.astro";
import InstagramIcon from "./icons/instagram-icon.astro";
import LinkedinIcon from "./icons/linkedin-icon.astro";
import MailIcon from "./icons/mail-icon.astro";
---

<footer class="py-16 bg-gray-950 text-gray-400 border-t border-gray-800">
  <div class="max-w-5xl mx-auto px-6 flex flex-col items-center space-y-8">
    
    <div class="flex space-x-6">

      <LinkedinIcon href="https://www.linkedin.com/in/aleix-bermudez/" />

      <GithubIcon href="https://github.com/aleixbermudez" />

      <InstagramIcon href="https://www.instagram.com/_aleixbermudez_" />

      <MailIcon href="mailto:aleixbermudez19@gmail.com" />
      
    </div>

  
    <div class="w-12 h-px bg-gray-700"></div>


    <p class="text-sm text-gray-500">
      © {new Date().getFullYear()} <span class="font-medium text-gray-300">Aleix Bermúdez</span> · Todos los derechos reservados
    </p>
  </div>
</footer>
